body {
    margin: 0;
    font-family: Arial;
    background-color: #f4f6f9;
    transition: 0.3s;
}

.dark {
    background-color: #1e293b;
    color: white;
}

.dark .card {
    background-color: #334155;
}

.navbar {
    background: #1e3a8a;
    padding: 15px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.hamburger {
    display: none;
    cursor: pointer;
    font-size: 22px;
}

.container {
    padding: 20px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}

input {
    padding: 6px;
    width: 180px;
    margin: 5px;
}

button {
    padding: 6px 12px;
    background: #2563eb;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #1d4ed8;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

.result-box {
    padding: 15px;
    border-radius: 8px;
    margin-top: 10px;
}

.success {
    background: #d1fae5;
}

.error {
    background: #fee2e2;
}

@media(max-width:768px){
    .nav-links {
        display: none;
        flex-direction: column;
        background: #1e3a8a;
        position: absolute;
        right: 0;
        top: 60px;
        padding: 10px;
    }

    .nav-links.show {
        display: flex;
    }

    .hamburger {
        display: block;
    }

    input {
        width: 100%;
    }
}
